	body {
		background:#678bb3; 
		padding:0;
		margin:0;
	}
	
	.sky {
		width:100%;
		height:1000px;
		background: transparent url(img/sky.jpg) top left no-repeat;
		background-size: 100% 100%;
		margin:auto;
		position:relative;
	}
	
	.cloud {
		width: 250px;
		height:200px;
		position:absolute;
		background:transparent url(img/front_cloud.png) 0 0 no-repeat;
	}
	
	.fcloud01 {
		top:100px;
		z-index:100;		 
		/* animation syntax shorthand order: name duration timing-function delay iteration-count direction fill-mode */
		-webkit-animation: drift 25s linear infinite; 
		-moz-animation: drift 25s linear infinite;
		-o-animation: drift 25s linear infinite;
		animation: drift 25s linear infinite;
	}
			
	.fcloud02 {
		top:240px;
		z-index: 200;				 
		-webkit-animation: drift 35s linear 10s infinite backwards;
		-moz-animation: drift 35s linear 10s infinite backwards;
		-o-animation: drift 35s linear 10s infinite backwards;
		animation: drift 35s linear 10s infinite backwards;
	}


	@-webkit-keyframes drift {
		from {-webkit-transform:translateX(-255px);}		
		to {-webkit-transform:translateX(1350px);}
	}
	
	@-moz-keyframes drift {
		from {-moz-transform:translateX(-255px);}		
		to {-moz-transform:translateX(1350px);}
	}
	
	@-o-keyframes drift {
		from {-o-transform:translateX(-255px);}		
		to {-o-transform:translateX(1350px);}
	}
	
	@-keyframes drift {
		from {transform:translateX(-255px);}		
		to {transform:translateX(1350px);}
	}